@font-face {
  font-family: riveradventure;
  src: url("../img/River Adventure Personal Use.ttf"); }
body .background .container .row2 {
  height: 25%;
  display: flex;
  flex-direction: column; }
  body .background .container .row2 .header {
    height: 18.75%;
    display: flex;
    flex-direction: row; }
    body .background .container .row2 .header .col {
      width: 20%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center; }
    body .background .container .row2 .header h1, body .background .container .row2 .header a {
      font-size: 3vw;
      font-weight: 100;
      margin: auto;
      font-family: 'riveradventure', sans-serif;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      text-decoration: none; }
    body .background .container .row2 .header .col3 .logo {
      height: 15vw;
      width: 14.75vw;
      margin: auto;
      background-image: url("../img/logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }
  body .background .container .row2 .container {
    height: 81.25%;
    margin: 0 auto;
    margin-top: 75%;
    padding: 0;
    display: flex;
    flex-direction: column; }
    body .background .container .row2 .container .slider1 {
      height: 30vw;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      background-image: url("../img/track.png");
      background-size: 97.5%;
      background-repeat: no-repeat;
      background-position: center; }
      body .background .container .row2 .container .slider1 i {
        margin: auto;
        font-size: 3.5vw;
        color: #fff;
        z-index: 100;
        cursor: pointer; }
      body .background .container .row2 .container .slider1 #s1_btn_prev {
        margin-left: 7.5vw; }
      body .background .container .row2 .container .slider1 #s1_btn_next {
        margin-right: 7.5vw; }
      body .background .container .row2 .container .slider1 .slider_outer {
        height: 30vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden; }
        body .background .container .row2 .container .slider1 .slider_outer .slider_inner {
          height: 30vw;
          width: 100%;
          margin: auto;
          padding: 0;
          display: flex;
          flex-direction: row;
          position: relative;
          overflow: hidden; }
          body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide1 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide1 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/shanghai/row2_slide1.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide1 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide2 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide2 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/shanghai/row2_slide2.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide2 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide3 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide3 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/shanghai/row2_slide3.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide3 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row2 .container .slider1 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row2 .container .shanghai {
      height: 10.25vw;
      width: 25vw;
      margin: 0 auto;
      background-image: url("../img/shanghai.png");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }

@media only screen and (max-width: 800px) {
  body .background .container .row2 .header .col1 {
    display: none; }
  body .background .container .row2 .header .col2 {
    display: none; }
  body .background .container .row2 .header .col3 {
    height: 17.75vh;
    width: 22.5vh;
    margin: auto; }
    body .background .container .row2 .header .col3 .logo {
      height: 100%;
      width: 100%; }
  body .background .container .row2 .header .col4 {
    display: none; }
  body .background .container .row2 .header .col5 {
    display: none; }
  body .background .container .row2 .container {
    margin: 0; }
    body .background .container .row2 .container .slider1 {
      height: 80%;
      display: flex;
      flex-direction: column;
      background-image: none; }
      body .background .container .row2 .container .slider1 i {
        font-size: 10vw; }
      body .background .container .row2 .container .slider1 #s1_btn_prev {
        margin-left: 1vw; }
      body .background .container .row2 .container .slider1 #s1_btn_next {
        margin-right: 1vw; }
      body .background .container .row2 .container .slider1 .slider_outer {
        height: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        background-image: url("../img/track.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102.5% 100%; }
        body .background .container .row2 .container .slider1 .slider_outer .slider_inner {
          height: 95%;
          margin: auto;
          padding: 0; }
          body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide {
            height: 95%;
            width: 95%; }
            body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide p {
              font-size: 82.5%; }
          body .background .container .row2 .container .slider1 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row2 .container .location {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .background .container .row2 .container .location .shanghai {
        height: 15vh;
        width: 35vh;
        margin: auto; } }
@media only screen and (max-width: 350px) and (max-height: 500px) {
  body .background .container .row2 .container .slider1 .slider_outer .slider_inner .slide p {
    font-size: 65%; } }
body .background .container .row3 {
  height: 29%;
  display: flex;
  flex-direction: column; }
  body .background .container .row3 .container {
    height: 100%;
    margin: 0 auto;
    margin-top: 120%;
    padding: 0;
    display: flex;
    flex-direction: column; }
    body .background .container .row3 .container .slider2 {
      height: 30vw;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      background-image: url("../img/track.png");
      background-size: 97.5%;
      background-repeat: no-repeat;
      background-position: center; }
      body .background .container .row3 .container .slider2 i {
        margin: auto;
        font-size: 3.5vw;
        color: #fff;
        z-index: 100;
        cursor: pointer; }
      body .background .container .row3 .container .slider2 #s2_btn_prev {
        margin-left: 7.5vw; }
      body .background .container .row3 .container .slider2 #s2_btn_next {
        margin-right: 7.5vw; }
      body .background .container .row3 .container .slider2 .slider_outer {
        height: 30vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden; }
        body .background .container .row3 .container .slider2 .slider_outer .slider_inner {
          height: 30vw;
          width: 100%;
          margin: auto;
          padding: 0;
          display: flex;
          flex-direction: row;
          position: relative;
          overflow: hidden; }
          body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide1 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide1 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/westfjord/row3_slide1.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide1 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide2 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide2 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/westfjord/row3_slide2.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide2 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide3 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide3 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/westfjord/row3_slide3.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide3 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row3 .container .slider2 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row3 .container .westfjords {
      height: 10vw;
      width: 30vw;
      margin: 0 auto;
      background-image: url("../img/westfjords.png");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }

@media only screen and (max-width: 800px) {
  body .background .container .row3 .container {
    margin: 0;
    margin-top: 25%; }
    body .background .container .row3 .container .slider2 {
      height: 80%;
      display: flex;
      flex-direction: column;
      background-image: none; }
      body .background .container .row3 .container .slider2 i {
        font-size: 10vw; }
      body .background .container .row3 .container .slider2 #s2_btn_prev {
        margin-left: 1vw; }
      body .background .container .row3 .container .slider2 #s2_btn_next {
        margin-right: 1vw; }
      body .background .container .row3 .container .slider2 .slider_outer {
        height: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        background-image: url("../img/track.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102.5% 100%; }
        body .background .container .row3 .container .slider2 .slider_outer .slider_inner {
          height: 95%;
          margin: auto;
          padding: 0; }
          body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide {
            height: 95%;
            width: 95%; }
            body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide p {
              font-size: 82.5%; }
          body .background .container .row3 .container .slider2 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row3 .container .location {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .background .container .row3 .container .location .westfjords {
        height: 15vh;
        width: 45vh;
        margin: auto; } }
@media only screen and (max-width: 350px) and (max-height: 500px) {
  body .background .container .row3 .container .slider2 .slider_outer .slider_inner .slide p {
    font-size: 65%; } }
body .background .container .row4 {
  height: 22%;
  display: flex;
  flex-direction: column; }
  body .background .container .row4 .container {
    height: 85%;
    margin: 0 auto;
    margin-top: 80%;
    padding: 0;
    display: flex;
    flex-direction: column; }
    body .background .container .row4 .container .slider3 {
      height: 30vw;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      background-image: url("../img/track.png");
      background-size: 97.5%;
      background-repeat: no-repeat;
      background-position: center; }
      body .background .container .row4 .container .slider3 i {
        margin: auto;
        font-size: 3.5vw;
        color: #fff;
        z-index: 100;
        cursor: pointer; }
      body .background .container .row4 .container .slider3 #s3_btn_prev {
        margin-left: 7.5vw; }
      body .background .container .row4 .container .slider3 #s3_btn_next {
        margin-right: 7.5vw; }
      body .background .container .row4 .container .slider3 .slider_outer {
        height: 30vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden; }
        body .background .container .row4 .container .slider3 .slider_outer .slider_inner {
          height: 30vw;
          width: 100%;
          margin: auto;
          padding: 0;
          display: flex;
          flex-direction: row;
          position: relative;
          overflow: hidden; }
          body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide1 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide1 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/parbat/row4_slide1.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide1 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide2 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide2 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/parbat/row4_slide2.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide2 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide3 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide3 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/parbat/row4_slide3.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide3 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row4 .container .slider3 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row4 .container .parbat {
      height: 10.25vw;
      width: 25vw;
      margin: 0 auto;
      background-image: url("../img/parbat.png");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }

@media only screen and (max-width: 800px) {
  body .background .container .row4 .container {
    margin: 0;
    margin-top: 25%; }
    body .background .container .row4 .container .slider3 {
      height: 80%;
      display: flex;
      flex-direction: column;
      background-image: none; }
      body .background .container .row4 .container .slider3 i {
        font-size: 10vw; }
      body .background .container .row4 .container .slider3 #s3_btn_prev {
        margin-left: 1vw; }
      body .background .container .row4 .container .slider3 #s3_btn_next {
        margin-right: 1vw; }
      body .background .container .row4 .container .slider3 .slider_outer {
        height: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        background-image: url("../img/track.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102.5% 100%; }
        body .background .container .row4 .container .slider3 .slider_outer .slider_inner {
          height: 95%;
          margin: auto;
          padding: 0; }
          body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide {
            height: 95%;
            width: 95%; }
            body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide p {
              font-size: 82.5%; }
          body .background .container .row4 .container .slider3 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row4 .container .location {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .background .container .row4 .container .location .parbat {
        height: 15vh;
        width: 30vh;
        margin: auto; } }
@media only screen and (max-width: 350px) and (max-height: 500px) {
  body .background .container .row4 .container .slider3 .slider_outer .slider_inner .slide p {
    font-size: 65%; } }
body .background .container .row5 {
  height: 24%;
  display: flex;
  flex-direction: column; }
  body .background .container .row5 .container {
    height: 85%;
    margin: 0 auto;
    margin-top: 90%;
    padding: 0;
    display: flex;
    flex-direction: column; }
    body .background .container .row5 .container .slider4 {
      height: 30vw;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      background-image: url("../img/track.png");
      background-size: 97.5%;
      background-repeat: no-repeat;
      background-position: center; }
      body .background .container .row5 .container .slider4 i {
        margin: auto;
        font-size: 3.5vw;
        color: #fff;
        z-index: 100;
        cursor: pointer; }
      body .background .container .row5 .container .slider4 #s4_btn_prev {
        margin-left: 7.5vw; }
      body .background .container .row5 .container .slider4 #s4_btn_next {
        margin-right: 7.5vw; }
      body .background .container .row5 .container .slider4 .slider_outer {
        height: 30vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden; }
        body .background .container .row5 .container .slider4 .slider_outer .slider_inner {
          height: 30vw;
          width: 100%;
          margin: auto;
          padding: 0;
          display: flex;
          flex-direction: row;
          position: relative;
          overflow: hidden; }
          body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide1 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide1 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/uttarakhand/row5_slide1.jpg");
              background-size: cover;
              background-repeat: no-repeat; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide1 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide2 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide2 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/uttarakhand/row5_slide2.jpg");
              background-size: cover;
              background-repeat: no-repeat; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide2 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide3 {
            height: 90%;
            width: 90%;
            margin: auto;
            display: none;
            flex-direction: row;
            justify-content: center; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide3 .pic_box {
              height: 90%;
              width: 50%;
              margin: auto 1vw;
              background-image: url("../img/uttarakhand/row5_slide3.jpg");
              background-size: cover;
              background-repeat: no-repeat; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide3 p {
              width: 50%;
              margin: auto 1vw;
              font-family: 'Ubuntu';
              font-size: 2vw;
              color: white; }
          body .background .container .row5 .container .slider4 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row5 .container .uttarakhand {
      height: 10vw;
      width: 30vw;
      margin: 0 auto;
      background-image: url("../img/uttarakhand.png");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer; }

@media only screen and (max-width: 800px) {
  body .background .container .row5 .container {
    margin: 0;
    margin-top: 25%; }
    body .background .container .row5 .container .slider4 {
      height: 80%;
      display: flex;
      flex-direction: column;
      background-image: none; }
      body .background .container .row5 .container .slider4 i {
        font-size: 10vw; }
      body .background .container .row5 .container .slider4 #s4_btn_prev {
        margin-left: 1vw; }
      body .background .container .row5 .container .slider4 #s4_btn_next {
        margin-right: 1vw; }
      body .background .container .row5 .container .slider4 .slider_outer {
        height: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        background-image: url("../img/track.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 102.5% 100%; }
        body .background .container .row5 .container .slider4 .slider_outer .slider_inner {
          height: 95%;
          margin: auto;
          padding: 0; }
          body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide {
            height: 95%;
            width: 95%; }
            body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide p {
              font-size: 82.5%; }
          body .background .container .row5 .container .slider4 .slider_outer .slider_inner .active {
            display: flex; }
    body .background .container .row5 .container .location {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .background .container .row5 .container .location .uttarakhand {
        height: 15vh;
        width: 50vh;
        margin: auto; } }
@media only screen and (max-width: 350px) and (max-height: 500px) {
  body .background .container .row5 .container .slider4 .slider_outer .slider_inner .slide p {
    font-size: 65%; } }
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #03021b; }
  body .background {
    height: 550vw;
    width: 98.9vw;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; }
    body .background .container {
      height: 99%;
      width: 99%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      body .background .container .navbar {
        display: none; }
      body .background .container .row {
        width: 100%; }

@media only screen and (max-width: 800px) {
  body .background {
    height: 420vh;
    height: calc(var(--vh, 1vh) * 420);
    width: 98.9vw;
    background-image: url("../img/backgroundII.jpg");
    background-size: calc(var(--vh, 1vh) * 72.5);
    overflow: hidden; }
    body .background .container {
      height: 100%;
      width: 100%;
      margin: auto;
      justify-content: space-between; }
      body .background .container .navbar {
        display: block;
        position: fixed;
        z-index: 100;
        width: 100%;
        margin: 0;
        padding: 0; }
        body .background .container .navbar .btn-open {
          float: right; }
          body .background .container .navbar .btn-open #nav-icon {
            position: relative;
            width: 10vw;
            height: 10vw;
            margin: 3vw;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer; }
          body .background .container .navbar .btn-open #nav-icon span {
            display: block;
            position: absolute;
            height: 0.75vw;
            width: 70%;
            background: #fff;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out; }
          body .background .container .navbar .btn-open #nav-icon span:nth-child(1) {
            top: 2vw;
            left: 1.5vw; }
          body .background .container .navbar .btn-open #nav-icon span:nth-child(2), body .background .container .navbar .btn-open #nav-icon span:nth-child(3) {
            top: 4.5vw;
            left: 1.5vw; }
          body .background .container .navbar .btn-open #nav-icon span:nth-child(4) {
            top: 7vw;
            left: 1.5vw; }
          body .background .container .navbar .btn-open #nav-icon.open span:nth-child(1) {
            top: 1.5vw;
            width: 0%;
            left: 50%; }
          body .background .container .navbar .btn-open #nav-icon.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
          body .background .container .navbar .btn-open #nav-icon.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          body .background .container .navbar .btn-open #nav-icon.open span:nth-child(4) {
            top: 1.5vw;
            width: 0%;
            left: 50%; }
        body .background .container .navbar .side-nav {
          right: 0;
          height: 50%;
          width: 0;
          z-index: 100;
          position: absolute;
          overflow-x: hidden;
          margin-top: 35%;
          transition: 0.5s;
          background-image: url("../img/track.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: row; }
          body .background .container .navbar .side-nav a, body .background .container .navbar .side-nav a:visited {
            margin: auto;
            color: white;
            font-size: 7.5vw;
            text-decoration: none;
            font-family: riveradventure; }
            body .background .container .navbar .side-nav a span, body .background .container .navbar .side-nav a:visited span {
              color: #e83f0b; }
        body .background .container .navbar .open-menu {
          width: 100%; }
      body .background .container .row {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100%; } }

/*# sourceMappingURL=main.css.map */
