body{
  .background{
    .container{
      .row2{
        height: 25%;
        display: flex;
        flex-direction: column;

        .header{
          height: 18.75%;
          display: flex;
          flex-direction: row;
          .col{
            width: 20%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
          }
          h1, a{
            font-size: 3vw;
            font-weight: 100;
            margin: auto;
            font-family: 'riveradventure', sans-serif;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            text-decoration: none;
          }
          .col1{}
          .col2{}
          .col3{
            .logo{
              height: 15.5vw;
              width: 100%;
              margin: auto;
              background-image: url("../img/logo.png");
              background-size: cover;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
          .col4{}
          .col5{}
        }

        .container{
          height: 81.25%;
          margin: 0 auto;
          margin-top: 75%;
          padding: 0;
          display: flex;
          flex-direction: column;

          .slider1{
            height: 30vw;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            background-image: url("../img/track.png");
            background-size: 97.5%;
            background-repeat: no-repeat;
            background-position: center;
            i{
              margin: auto;
              font-size: 3.5vw;
              color: #fff;
              z-index: 100;
              cursor: pointer;
            }
            #s1_btn_prev{
              margin-left: 7.5vw;
            }
            #s1_btn_next{
              margin-right: 7.5vw;
            }

            .slider_outer{
              height: 30vw;
              width: 100%;
              display: flex;
              flex-direction: row;
              position: relative;
              overflow: hidden;

              .slider_inner{
                height: 30vw;
                width: 100%;
                margin: auto;
                padding: 0;
                display: flex;
                flex-direction: row;
                position: relative;
                overflow: hidden;

                .slide1{
                  height: 90%;
                  width: 90%;
                  margin: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: center;
                  .pic_box{
                    height: 90%;
                    width: 50%;
                    margin: auto 1vw;
                    background-image: url("../img/shanghai/row2_slide1.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                  p{
                    width: 50%;
                    margin: auto 1vw;
                    font-family: 'Ubuntu';
                    font-size: 2vw;
                    color: white;
                  }
                }

                .slide2{
                  height: 90%;
                  width: 90%;
                  margin: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: center;
                  .pic_box{
                    height: 90%;
                    width: 50%;
                    margin: auto 1vw;
                    background-image: url("../img/shanghai/row2_slide2.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                  p{
                    width: 50%;
                    margin: auto 1vw;
                    font-family: 'Ubuntu';
                    font-size: 2vw;
                    color: white;
                  }
                }

                .slide3{
                  height: 90%;
                  width: 90%;
                  margin: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: center;
                  .pic_box{
                    height: 90%;
                    width: 50%;
                    margin: auto 1vw;
                    background-image: url("../img/shanghai/row2_slide3.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                  p{
                    width: 50%;
                    margin: auto 1vw;
                    font-family: 'Ubuntu';
                    font-size: 2vw;
                    color: white;
                  }
                }
                .active{
                  display: flex;
                }
              }
            }
          }

          .shanghai{
            height: 10.25vw;
            width: 25vw;
            margin: 0 auto;
            background-image: url("../img/shanghai.png");
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px){
  body{
    .background{
      .container{
        .row2{
          .header{
            .col1{
              display: none;
            }
            .col2{
              display: none;
            }
            .col3{
              height: 17.75vh;
              width: 22.5vh;
              margin: auto;
              .logo{
                height: 100%;
                width: 100%;
              }
            }
            .col4{
                display: none;
            }
            .col5{
                display: none;
            }
          }

          .container{
            margin: 0;
            .slider1{
              height: 80%;
              display: flex;
              flex-direction: column;
              background-image: none;
              i{
                font-size: 10vw;
              }
              #s1_btn_prev{
                margin-left: 1vw;
              }
              #s1_btn_next{
                margin-right: 1vw;
              }

              .slider_outer{
                height: 50%;
                margin: auto;
                display: flex;
                flex-direction: row;
                background-image: url("../img/track.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 102.5% 100%;

                .slider_inner{
                  height: 95%;
                  margin: auto;
                  padding: 0;

                  .slide{
                    height: 95%;
                    width: 95%;
                    p{
                      font-size: 82.5%;
                    }
                  }
                  .active{
                    display: flex;
                  }
                }
              }
            }
            .location{
              height: 20%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .shanghai{
                height: 15vh;
                width: 35vh;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) and (max-height: 500px){
  body{
    .background{
      .container{
        .row2{
          .container{
            .slider1{
              .slider_outer{
                .slider_inner{
                  .slide{
                    p{
                      font-size: 65%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
