body{
  .background{
    .container{
      .row5{
        height: 24%;
        display: flex;
        flex-direction: column;

        .container{
          height: 85%;
          margin: 0 auto;
          margin-top: 90%;
          padding: 0;
          display: flex;
          flex-direction: column;

          .slider4{
            height: 30vw;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            background-image: url("../img/track.png");
            background-size: 97.5%;
            background-repeat: no-repeat;
            background-position: center;
            i{
              margin: auto;
              font-size: 3.5vw;
              color: #fff;
              z-index: 100;
              cursor: pointer;
            }
            #s4_btn_prev{
              margin-left: 7.5vw;
            }
            #s4_btn_next{
              margin-right: 7.5vw;
            }

            .slider_outer{
              height: 30vw;
              width: 100%;
              display: flex;
              flex-direction: row;
              position: relative;
              overflow: hidden;

              .slider_inner{
                height: 30vw;
                width: 100%;
                margin: auto;
                padding: 0;
                display: flex;
                flex-direction: row;
                position: relative;
                overflow: hidden;

                .slide1{
                  height: 90%;
                  width: 90%;
                  margin: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: center;
                  .pic_box{
                    height: 90%;
                    width: 50%;
                    margin: auto 1vw;
                    background-image: url("../img/uttarakhand/row5_slide1.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                  }
                  p{
                    height: 60%;
                    width: 50%;
                    margin: auto 1vw;
                    font-family: 'Ubuntu';
                    font-size: 2vw;
                    color: white;
                  }
                }

                .slide2{
                  height: 90%;
                  width: 90%;
                  margin: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: center;
                  .pic_box{
                    height: 90%;
                    width: 50%;
                    margin: auto 1vw;
                    background-image: url("../img/uttarakhand/row5_slide2.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                  }
                  p{
                    height: 60%;
                    width: 50%;
                    margin: auto 1vw;
                    font-family: 'Ubuntu';
                    font-size: 2vw;
                    color: white;
                  }
                }

                .slide3{
                  height: 90%;
                  width: 90%;
                  margin: auto;
                  display: none;
                  flex-direction: row;
                  justify-content: center;
                  .pic_box{
                    height: 90%;
                    width: 50%;
                    margin: auto 1vw;
                    background-image: url("../img/uttarakhand/row5_slide3.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                  }
                  p{
                    height: 60%;
                    width: 50%;
                    margin: auto 1vw;
                    font-family: 'Ubuntu';
                    font-size: 2vw;
                    color: white;
                  }
                }
                .active{
                  display: flex;
                }
              }
            }
          }
          .uttarakhand{
            height: 10vw;
            width: 30vw;
            margin: 0 auto;
            background-image: url("../img/uttarakhand.png");
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px){
  body{
    .background{
      .container{
        .row5{
          .container{
            margin: 0;
            margin-top: 25%;
            .slider4{
              height: 80%;
              display: flex;
              flex-direction: column;
              background-image: none;
              i{
                font-size: 10vw;
              }
              #s4_btn_prev{
                margin-left: 1vw;
              }
              #s4_btn_next{
                margin-right: 1vw;
              }

              .slider_outer{
                height: 50%;
                margin: auto;
                display: flex;
                flex-direction: row;
                background-image: url("../img/track.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 102.5% 100%;

                .slider_inner{
                  height: 95%;
                  margin: auto;
                  padding: 0;

                  .slide{
                    height: 95%;
                    width: 95%;
                    p{
                      height: 90%;
                      font-size: 82.5%;
                    }
                  }
                  .active{
                    display: flex;
                  }
                }
              }
            }
            .location{
              height: 20%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .uttarakhand{
                height: 15vh;
                width: 50vh;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}
